
<div>
    <form class="example-form">
      <h2 mat-line style="margin-top: 0px;position:relative;margin-left: 30%;" >~Information~</h2>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>Names</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label >Name</mat-label>
            <input type="email" matInput  placeholder="Ex. pat@example.com" style="color: rgb(0, 0, 0);">
          </mat-form-field>
          <div class="example-button-row">
            <button mat-raised-button color="primary">Ok</button>
            <button mat-stroked-button color="primary" style="border: 1px solid blue;margin-left: 8%;">Modify</button>
          </div> 
        </mat-expansion-panel>
      </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>Surnames</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label >Surname</mat-label>
                <input type="email" matInput  placeholder="Ex. pat@example.com" style="color: rgb(0, 0, 0);">
            </mat-form-field>
            <div class="example-button-row">
                <button mat-raised-button color="primary">Ok</button>
                <button mat-stroked-button color="primary" style="border: 1px solid blue;margin-left: 8%;">Modify</button>
            </div> 
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>Date of birth</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label >Date </mat-label>
                <input type="email" matInput  placeholder="Ex. pat@example.com" style="color: rgb(0, 0, 0);">
              </mat-form-field>
              <div class="example-button-row">
                <button mat-raised-button color="primary">Ok</button>
                <button mat-stroked-button color="primary" style="border: 1px solid blue;margin-left: 8%;">Modify</button>
            </div> 
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>place of birth</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label >Date </mat-label>
                <input type="email" matInput  placeholder="Ex. pat@example.com" style="color: rgb(0, 0, 0);">
              </mat-form-field>
              <div class="example-button-row">
                <button mat-raised-button color="primary">Ok</button>
                <button mat-stroked-button color="primary" style="border: 1px solid blue;margin-left: 8%;">Modify</button>
            </div> 
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>Contacts</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label >contact</mat-label>
                <input type="email" matInput  placeholder="Ex. pat@example.com" style="color: rgb(0, 0, 0);">
              </mat-form-field>
              <div class="example-button-row">
                <button mat-raised-button color="primary">Ok</button>
                <button mat-stroked-button color="primary" style="border: 1px solid blue;margin-left: 8%;">Modify</button>
            </div> 
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>Emails</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label >email</mat-label>
                <input type="email" matInput  placeholder="Ex. pat@example.com" style="color: rgb(0, 0, 0);">
              </mat-form-field>
              <div class="example-button-row">
                <button mat-raised-button color="primary">Ok</button>
                <button mat-stroked-button color="primary" style="border: 1px solid blue;margin-left: 8%;">Modify</button>
            </div> 
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>Comptes</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label >compte</mat-label>
                <input type="email" matInput  placeholder="Ex. pat@example.com" style="color: rgb(0, 0, 0);">
              </mat-form-field>
              <div class="example-button-row">
                <button mat-raised-button color="primary">Ok</button>
                <button mat-stroked-button color="primary" style="border: 1px solid blue;margin-left: 8%;">Modify</button>
            </div> 
            </mat-expansion-panel>
          </mat-accordion>
    </form>
  </div>