<div class="alignCenter">
    <h1 style="color:rgb(255, 255, 255);text-shadow: rgb(225, 225, 225) 5px -2px;">Sign Up</h1>
    <hr style="color: rgb(255, 255, 255);">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Daniel" value="">
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Bitmaker" value="">
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Date of Birth</mat-label>
          <input matInput placeholder="12-2-2022" value="">
        </mat-form-field>
       
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Address </mat-label>
          <input matInput placeholder="rue" value="">
        </mat-form-field>
       
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Place of Birth</mat-label>
          <input matInput placeholder="Yaounde" value="">
        </mat-form-field>
       
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Example@gmail.com" value="" type="email">
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" style="color: white;">
          <mat-hint style="color:rgb(123, 86, 255) ;"> Your Password here</mat-hint>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
       
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" style="color: white;">
          <mat-hint style="color:rgb(123, 86, 255) ;"> Your Password here</mat-hint>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div class="example-button-row">
          <button mat-raised-button color="primary">Inscription</button>
        </div>
      </form>
</div>
